---
---

body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

// Full-width code blocks
.highlight {
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;
  overflow-x: auto;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
    background: black;
  }

  a:link {
    color: #5bf;
  }

  a:visited {
    color: #ccf;
  }
}

// Rouge syntax highlighting
@import "syntax";
